<div>
  <%= image_tag 'top.png', width: '315' %>
</div>

<div>
  <p>文字が入った画像を自動生成して、気軽に力強いツイート（パワーツイート）ができるサービスです</p>
</div>

<div>
  <%= link_to 'Twitterで登録 / ログイン', '/auth/twitter', class:"btn btn-danger"  %>
</div>
<br>
<div>
  <p>こんなツイートが簡単にできちゃいます</p>
</div>

<div>
  <%= image_tag 'sample1.png', width: '315' %>
</div>

<div>
  <%= image_tag 'sample2.png', width: '315' %>
</div>

<div>
  <%= image_tag 'sample4.png', width: '315' %>
</div>
<div>
  <p>現在画像は5種類あり、これから増やしていく予定です</p>
</div>
<br>
<div>
  <%= link_to 'Twitterで登録 / ログイン', '/auth/twitter', class:"btn btn-danger"  %>
</div>
