<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Twitter本文の内容' %>
    <%= form.text_area :content, id: 'content', class:'form-control', rows:"6" %>
    <p id="content_check">0文字 / max 120文字</p>
  </div>

  <div class="form-group">
    <%= form.label '画像内の内容' %>
    <%= form.text_area :power, id: 'power', class:'form-control', rows:"6" %>
    <p id="power_check">0文字 / max 90文字</p>
    <small class="text-muted">改行は半角スペースに変換されます</small>
  </div>

  <div class="form-group">
    <%= form.label :kind %>
    <%= form.select :kind, [["ランダム","muscle"],["ファイヤーツイート","fire"],["サンダーツイート","thunder"],["マッスルツイート","muscle"],["キャットツイート","cat"],["LOVEツイート","love"]], {}, {class: "form-control"} %>
    <small class="text-muted">それぞれどんな画像が出るかはパワーツイートしてからのお楽しみです</small>
  </div>

  <div class="actions">
    <%= form.submit "パワーツイート！", id: 'submit', class:"btn btn-danger" %>
  </div>
<% end %>
